/*File: SinglePageAppSS.css
  Author: Eduardo Pozo UMass Lowell Computer Science Major
  Contact Info: eduardo_pozo@student.uml.edu
  Description: This page alters the appearance of the SinglePageApp.html file.
  The main focus is to make the data in the content div stand out in front of the
  background image I have set.
  Created: 11/05/2014
  Last Modified: 12/10/2014*/

/*Set a background image and maximize the size to fit the page non-repeating.
  I also added a different font loaded from googlefonts (suggested by Matt Richie)*/
body{
  background-image: url("http://images.fotocommunity.de/bilder/chile/atacamawueste/atacama-hochland-chile-nahe-ojos-del-salado-65cbbc50-4b25-44a0-97df-48219e078921.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'EB Garamond', serif;
}
/*All information displayed in the content div share both the next two attributes*/
h1{
  color: black;
  text-align: center;
  font-weight: bold;
}
p{
  margin: 10px;
  font-weight: bold;
}
/*This makes the display place for the content see through.  A border is established
  and placed in the middle of the screen*/
#content{
  /*background-color: blue; Used this to find the work area*/
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  background-color: white;
  opacity: 0.7;
  /*overflow: auto; Took this out because it seems to break the background image*/
}
/*Modifying the navbar location here*/
#navbar{
  float: right;
  font-size: 1.5em;
  color: black;
  /*width: 80px;
  background-color: yellow;*/
}
/*The following two changes to the 'a' tag will make it a different color when idle
  and when someone hovers over it*/
a{
  color: black;
  border: 1px solid;
  text-decoration: none;
}
a:hover{
  color: black;
}
/*When 'a' tags are selected it will highlight in blue, but won't stick.
  Search for solutions to make the nackground change permanent.*/
a:active{
  background-color: blue;
}
/*Getting rid of the dots for the unordered list, modifying the list appearance here*/
#navLinks{
  list-style-type: none;
  font-size: 1.5em;
}
/*Making my email a different color so it shows up better on this background*/
#myEmail{
  color: blue;
  border: 0px;
  text-decoration: underline;
}
/*Giving bolded text to list items, doesn't seem to work off 'p' tag change*/
li{
  font-weight: bold;
}
/*Areas that can be improved
  a:active
  body
  myEmail
*/
